<!-- The Modal -->
<div class="modal" id="scoreBatchModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <div id="scoreBatchModal_title" class="modal-title">Score Batch</div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>
                    <span class="col-form-label"><strong>Packaged:&nbsp;</strong></span><span id="scoreBatchModal_style"></span><br />
                    <span class="col-form-label"><strong>Min Temp:&nbsp;</strong></span><span id="scoreBatchModal_tempMin"></span><br />
                    <span class="col-form-label"><strong>Max Temp:&nbsp;</strong></span><span id="scoreBatchModal_tempMax"></span><br />
                    <span class="col-form-label"><strong>Alcohol Tolerance:&nbsp;</strong></span><span id="scoreBatchModal_alcohol"></span><br />
                </p>

                <p id="scoreBatchModal_note"></p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>