
<div><strong>Fermentation</strong></div>
<div>
   <p>
      Before any testing of new juice stir thoroughly.<br />
      Adjust specific gravity to target levels compensating for temperature of must if needed.<br />
      Adjust acid level to target levels.<br />
      <em>Corrections should be made with Tartaric Acid to raise acidity or Potassium Bicarbonate to lower it.</em>
   </p>
   <p>
      Add Yeast Nutrient and Pectic Enzyme to must.
   </p>
   <p>
      Make a yeast starter by pouring approximately 4 ounces of juice and 4 oz. water into a container.<br />
      Sprinkle the Yeast and a little Yeast Nutrient into the solution.<br />
      Cover with a paper towel and allow it to proliferate.<br />
      Once moderate activity is detected, add to must.<br />
   </p>
   <p>
      If using a foam inhibitor add now.
   </p>
   <p>
      Loosely cover the primary fermenter with lid and maintain target temperature for the next few days.<br />
      <i class="fa fa-clock-o" aria-hidden="true"></i> Fermentation will start within 24-48 hours if the temperature is kept constant.<br />
   </p>
   <p>
      Monitor Specific Gravity Levels throughout fermentation.<br />
      When the Specific Gravity drops below 1.020, it is time to rack the wine into a new clean vessel.<br />
      Attach air lock, but <u>DO NOT TOP OFF</u> at this point.
   </p>
   <p>
      <i class="fa fa-clock-o" aria-hidden="true"></i> Keep the carboy at the target temperature for a further 14-20 days to finish fermentation.<br />
      You should then get a Specific Gravity reading of less than 1.000.<br />
      If the Specific Gravity is 1.000 or above allow a few more days of fermentation and then check again.
   </p>
   <hr />
</div>

<div><strong>Stabilizing & De-gassing</strong></div>
<div>
   <p>
      Dissolve ¼ teaspoon Potassium Metabisulfite into 1 cup of wine.<br />
      Add this mixture to the carboy and stir vigorously for 2–3 minutes to release any excess CO2 gas.
   </p>
   <p>
      Add Fining Agents per instructions on package.<br />
      Fining Agents will help your wine clear faster.<br />
      Top off and attach air lock.
   </p>
   <p>
      Place the wine in a cooler area between 60-68°F (16-20°C) to clear faster.<br />
      Always make sure the airlock and bung are secure after stirring and the airlock is full of solution.<br />
      <i class="fa fa-clock-o" aria-hidden="true"></i> Leave your wine in this cool area for 2 weeks to clear.
   </p>
   <hr />
</div>

<div><strong>Sweeten and Polish</strong></div>
<div>
   <p>
      Rack the wine into a new clean vessel.<br />
      If sweetening, do so now.<br />
      If using oak, add oak now.<br />
      Top off and attach air lock.<br />
      Check oak intensity every 2 weeks.<br />
      <i class="fa fa-clock-o" aria-hidden="true"></i> Rack if oak gets overly strong else leave set for 30 days to final polish.
   </p>
   <hr />
</div>

<div><strong>Filtering & Bottling</strong></div>
<div>
   <p>
      Adjust SO2 before bottling. <br />
      To give your wine a professional appearance, it is recommended to filter before bottling.
   </p>
</div>

