
<div>Sweetening Additive</div>
<div>Acid Correction Additives</div>
<div>Pectic Enzyme</div>
<div>Yeast Nutrient</div>
<div>Fining Agent</div>
<div>Oak of Choice (optional)</div>
<div>Potassium Metabisulfite</div>

