
@model WMS.Ui.Models.Calculations.AlcoholViewModel

<div name="calcSugar" class="card">
   <div class="card-header bg-dark text-light"><h2>Calculate Alcohol (ABV)</h2></div>
   <div class="card-body">
      <p class="card-text">
         &#42; Beginning Sugar is Specific Gravity before the Yeast was pitched. <br />
         &#42;&#42; Ending Sugar is Specific Gravity at Stabilization (End of Fermentation before back sweetening).
      </p>

      <form id="frmAlcoholABV">

         <div class="row">
            <div class="col-sm-2 text-right"></div>
            <div class="col-sm-8 text-right">
               <div class="form-check-inline">
                  <label class="form-check-label">
                     <input id="AlcoholCalculator_UseBrix" type="radio" class="form-check-input" name="optUomAlcohol" value="brix">Brix
                  </label>
               </div>
               <div class="form-check-inline">
                  <label class="form-check-label">
                     <input id="AlcoholCalculator_UseSG" type="radio" class="form-check-input" name="optUomAlcohol" checked value="sg">Specific Gravity
                  </label>
               </div>
            </div>
            <div class="col-sm-2 text-left"></div>
         </div>

         <div class="row">
            <div class="col-sm-2 text-right">
               <label asp-for="SugarStart"></label>
            </div>
            <div class="col-sm-8">
               <input class="form-control text-right" type="text" asp-for="SugarStart" required  maxlength="4" />
               <span asp-validation-for="SugarStart" class="text-danger"></span>
            </div>
            <div class="col-sm-2 text-left">
               <label name="lblUomABV">SG</label>
            </div>
         </div>


         <div class="row">
            <div class="col-sm-2 text-right">
               <label asp-for="SugarEnd"></label>
            </div>
            <div class="col-sm-8">
               <input class="form-control text-right" type="text" asp-for="SugarEnd" required maxlength="4" />
               <span asp-validation-for="SugarEnd" class="text-danger"></span>
            </div>
            <div class="col-sm-2 text-left">
               <label name="lblUomABV">SG</label>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-2 text-right">
               <label asp-for="Abv"></label>
            </div>
            <div class="col-sm-8">
               <input class="form-control text-right" type="text" asp-for="Abv" readonly />
            </div>
            <div class="col-sm-2 text-left">
               <label name="lblUomWeight">&#37;</label>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-2 text-right"></div>
            <div class="col-sm-8">
               <button id="btnCalcAlcohol" class="btn btn-primary btn-block" type="button">Calculate</button>
            </div>
            <div class="col-sm-2 text-left"></div>
         </div>

      </form>

   </div>
</div>