
@model WMS.Ui.Models.Calculations.FortifyViewModel
<div id="fortifypop"></div>
<div name="calcSugar" class="card">
   <div class="card-header bg-dark text-light"><h2>Calculate Volumes to Fortify</h2></div>
   <div class="card-body">
      <div class="d-flex">
         <a href="#fortifypop" title="Fortified Wine" data-toggle="popover" data-trigger="click" data-placement="bottom"
            data-content="Fortified wine is a wine to which a distilled spirit is added, such as Port Wines.">&#42;Fortified Wine</a>
      </div>

      <form id="frmFortify">

         <fieldset>
            <legend class="sr-only">Unit of Measure Liters or Gallons</legend>
            <div class="d-flex justify-content-center m-2">
               <div class="form-check-inline mr-4">
                  <label class="form-check-label">
                     <input type="radio" class="form-check-input" name="optUomFortify" value="metric">Liters
                  </label>
               </div>
               <div class="form-check-inline mr-4">
                  <label class="form-check-label">
                     <input type="radio" class="form-check-input" name="optUomFortify" checked value="imperial">Gallons
                  </label>
               </div>
            </div>
         </fieldset>

         <div class="row align-items-center">
            <div class="col p-0 mr-2 text-right">
               <label class="m-0" asp-for="VolumeWine"></label>
            </div>
            <div class="col p-0">
               <input class="form-control text-right" type="text" asp-for="VolumeWine" required maxlength="3" />
               <span asp-validation-for="VolumeWine" class="text-danger"></span>
            </div>
            <div class="col p-0 ml-2">
               <div class="m-0" name="lblUomFortify">Gallons</div>
            </div>
         </div>


         <div class="row align-items-center">
            <div class="col p-0 mr-2 text-right">
               <label class="m-0" asp-for="SpiritReading"></label>
            </div>
            <div class="col p-0">
               <input class="form-control text-right" type="text" asp-for="SpiritReading" required maxlength="3" />
               <span asp-validation-for="SpiritReading" class="text-danger"></span>
            </div>
            <div class="col p-0 ml-2">
               <div class="m-0">&#37;</div>
            </div>
         </div>

         <div class="row align-items-center">
            <div class="col p-0 mr-2 text-right">
               <label class="m-0" asp-for="InitialAlcohol"></label>
            </div>
            <div class="col p-0">
               <input class="form-control text-right" type="text" asp-for="InitialAlcohol" required maxlength="3" />
               <span asp-validation-for="InitialAlcohol" class="text-danger"></span>
            </div>
            <div class="col p-0 ml-2">
               <div class="m-0">&#37;</div>
            </div>
         </div>

         <div class="row align-items-center">
            <div class="col p-0 mr-2 text-right">
               <label class="m-0" asp-for="GoalAlcohol"></label>
            </div>
            <div class="col p-0">
               <input class="form-control text-right" type="text" asp-for="GoalAlcohol" required maxlength="3" />
               <span asp-validation-for="GoalAlcohol" class="text-danger"></span>
            </div>
            <div class="col p-0 ml-2">
               <div class="m-0">&#37;</div>
            </div>
         </div>

         <div class="row align-items-center">
            <div class="col p-0 mr-2 text-right">
               <label class="m-0" asp-for="Spirit"></label>
            </div>
            <div class="col p-0">
               <input class="form-control text-right" type="text" asp-for="Spirit" readonly />
            </div>
            <div class="col p-0 ml-2">
               <div class="m-0" name="lblUomFortify">Gallons</div>
            </div>
         </div>

         <div class="d-flex justify-content-center align-items-center">
            <button id="btnCalcFortify" class="btn btn-primary" type="button">Calculate</button>
         </div>

      </form>

   </div>
</div>
