@model WMS.Ui.Models.Calculations.GravityTempViewModel

<div name="calcSugar" class="card">
   <div class="card-header bg-dark text-light"><h2>Adjust Gravity for Temperature</h2></div>
   <div class="card-body">
      <p class="card-text">
         &#42; An accurate reading takes temperature into consideration.<br />
         &#42;&#42; Each hydrometer is marked with a temperature for which it is calibrated.
      </p>

      <form id="frmGravityTemp">
         <div class="row">
            <div class="col-sm-2 text-right"></div>
            <div class="col-sm-8 text-right">
               <div class="form-check-inline">
                  <label class="form-check-label">
                     <input id="GravityTemp_UseBrix" type="radio" class="form-check-input" name="optUomGravityTemp" value="brix">Brix
                  </label>
               </div>
               <div class="form-check-inline">
                  <label class="form-check-label">
                     <input id="GravityTemp_UseSG" type="radio" class="form-check-input" name="optUomGravityTemp" checked value="sg">Specific Gravity
                  </label>
               </div>
            </div>
            <div class="col-sm-2 text-left"></div>
         </div>

         <div class="row">
            <div class="col-sm-2 text-right"></div>
            <div class="col-sm-8 text-right">
               <div class="form-check-inline">
                  <label class="form-check-label">
                     <input id="GravityTemp_Metric" type="radio" class="form-check-input" name="optGravityMetric" value="metric">Celsius
                  </label>
               </div>
               <div class="form-check-inline">
                  <label class="form-check-label">
                     <input id="GravityTemp_Imperial" type="radio" class="form-check-input" name="optGravityMetric" checked value="imperial">Fahrenheit
                  </label>
               </div>
            </div>
            <div class="col-sm-2 text-left"></div>
         </div>

         <div class="row">
            <div class="col-sm-2 text-right">
               <label asp-for="MeasuredGravity"></label>
            </div>
            <div class="col-sm-8">
               <input class="form-control text-right" type="text" asp-for="MeasuredGravity" required maxlength="4" />
               <span asp-validation-for="MeasuredGravity" class="text-danger"></span>
            </div>
            <div class="col-sm-2 text-left">
               <label name="lblUomGravitySugar">SG</label>
            </div>
         </div>


         <div class="row">
            <div class="col-sm-2 text-right">
               <label asp-for="TempReading"></label>
            </div>
            <div class="col-sm-8">
               <input class="form-control text-right" type="text" asp-for="TempReading" required maxlength="4" />
               <span asp-validation-for="TempReading" class="text-danger"></span>
            </div>
            <div class="col-sm-2 text-left">
               <label name="lblUomGravityTemp">&#8457;</label>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-2 text-right">
               <label asp-for="TempCalibrate"></label>
            </div>
            <div class="col-sm-8">
               <input class="form-control text-right" type="text" asp-for="TempCalibrate" required maxlength="4" />
               <span asp-validation-for="TempCalibrate" class="text-danger"></span>
            </div>
            <div class="col-sm-2 text-left">
               <label name="lblUomGravityTemp">&#8457;</label>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-2 text-right">
               <label asp-for="CorrectedValue"></label>
            </div>
            <div class="col-sm-8">
               <input class="form-control text-right" type="text" asp-for="CorrectedValue" readonly />
            </div>
            <div class="col-sm-2 text-left">
               <label name="lblUomGravitySugar">SG</label>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-2 text-right"></div>
            <div class="col-sm-8">
               <button id="btnCalcGravityTemp" class="btn btn-primary btn-block" type="button">Calculate</button>
            </div>
            <div class="col-sm-2 text-left"></div>
         </div>

      </form>

   </div>
</div>
