@model WMS.Ui.Models.Calculations.TitrateAcidViewModel

<div name="calcAcid" class="card">
   <div class="card-header bg-dark text-light"><h2>Titrate for Total Acid</h2></div>
   <div class="card-body">

      <form id="frmTitrateAcid">

         <div class="row align-items-center">
            <div class="col p-0 mr-2 text-right">
               <label class="m-0" asp-for="MustVolume"></label>
            </div>
            <div class="col p-0">
               <input class="form-control text-right" type="text" asp-for="MustVolume" required maxlength="4" />
               <span asp-validation-for="MustVolume" class="text-danger"></span>
            </div>
            <div class="col p-0 ml-2">
               <label class="m-0">mL</label>
            </div>
         </div>

         <div class="row align-items-center">
            <div class="col p-0 mr-2 text-right">
               <label class="m-0" asp-for="NaOHVolumeTa"></label>
            </div>
            <div class="col p-0">
               <input class="form-control text-right" type="text" asp-for="NaOHVolumeTa" required maxlength="4" />
               <span asp-validation-for="NaOHVolumeTa" class="text-danger"></span>
            </div>
            <div class="col p-0 ml-2">
               <label class="m-0">mL</label>
            </div>
         </div>

         <div class="row align-items-center">
            <div class="col p-0 mr-2 text-right">
               <label class="m-0" asp-for="NaOHNormalTa"></label>
            </div>
            <div class="col p-0">
               <input class="form-control text-right" type="text" asp-for="NaOHNormalTa" required maxlength="4" />
               <span asp-validation-for="NaOHNormalTa" class="text-danger"></span>
            </div>
            <div class="col p-0 ml-2">
               <label class="m-0" asp-for="NaOHNormalTa">N</label>
            </div>
         </div>

         <div class="row align-items-center">
            <div class="col p-0 mr-2 text-right">
               <label class="m-0" asp-for="TotalAcid"></label>
            </div>
            <div class="col p-0">
               <input class="form-control text-right" type="text" asp-for="TotalAcid" readonly />
               <span asp-validation-for="TotalAcid" class="text-danger"></span>
            </div>
            <div class="col p-0 ml-2">
               <label class="m-0">grams/Liter</label>
            </div>
         </div>

         <div class="d-flex justify-content-center align-items-center">
            <button id="btnTitrateAcid" class="btn btn-primary" type="button">Calculate</button>
         </div>

      </form>

   </div>
</div>
