
@model WMS.Ui.Models.Calculations.CalculationsViewModel

<div id="home" class="card">
   <div class="card-header bg-secondary text-light">
      <h1>Calculations</h1>
   </div>
   <div class="card-body">

      <div class="card">
         <div class="card-header bg-dark text-light"><h2>Filter by:</h2></div>
         <div class="card-body card-text text-left">
            <fieldset>
               <legend class="card-title h2">Calculator Group</legend>
               @foreach (var calcGroup in Model.CalculatorGroups)
               {
                  <div class="form-check-inline">
                     <label class="form-check-label">
                        <input name="chkCalcGroup" type="checkbox" class="form-check-input" checked value="@calcGroup.GroupName">@calcGroup.DisplayName
                     </label>
                  </div>
               }
            </fieldset>
         </div>
      </div>

      <br />

      <div class="card-columns">

         <partial name="_ChaptalizationCalculator" model="Model.ChaptalizationCalculator" />

         <partial name="_AlcoholCalculator" model="Model.AlcoholCalculator" />

         <partial name="_FortifyCalculator" model="Model.FortifyCalculator" />

         <partial name="_GravityTempCalculator" model="Model.GravityTempCalculator" />

         <partial name="_TitrateSO2" model="Model.TitrateSO2" />

         <partial name="_DoseSO2Calculator" model="Model.DoseSO2Calculator" />

         <partial name="_AdjustAcid" model="Model.AdjustAcid" />

         <partial name="_TitrateAcid" model="Model.TitrateAcid" />

         <partial name="_TitrateNaOH" model="Model.TitrateNaOH" />

         <partial name="_DiluteSolution" model="Model.DiluteSolution" />

      </div>

   </div>
   <div class="card-footer bg-secondary text-light"></div>

</div>

@section Scripts{
   <environment include="Development">
      <script src="~/js/calculations.js" asp-append-version="true" type="text/javascript"></script>
      <script src="~/js/calcFunctions.js" asp-append-version="true" type="text/javascript"></script>
      <script src="~/js/convertFunctions.js" asp-append-version="true" type="text/javascript"></script>
      <script src="~/js/validation.js" asp-append-version="true" type="text/javascript"></script>      
   </environment>
   <environment exclude="Development">
      <script src="~/js/calculations.min.js" asp-append-version="true" type="text/javascript"></script>
   </environment>
}



