
@model WMS.Ui.Models.Calculations.CalculationsViewModel

<div class="card">
   <div class="card-header bg-secondary text-light">
      <h1>Calculations</h1>
   </div>
   <div class="card-body">

      <div class="card">
         <div class="card-header bg-dark text-light"><h2>Filter by:</h2></div>
         <div class="card-body card-text text-left">
            <fieldset>
               <legend class="card-title h2">Calculator Group</legend>
               @foreach (var calcGroup in Model.CalculatorGroups)
               {
                  <div class="form-check-inline">
                     <label class="form-check-label">
                        <input name="chkCalcGroup" type="checkbox" class="form-check-input" checked value="@calcGroup.GroupName">@calcGroup.DisplayName
                     </label>
                  </div>
               }
            </fieldset>
         </div>
      </div>

      <br />

      @*<div class="card-columns">*@


      <div name="calcSugar" class="card">
         <div class="card-header bg-dark text-light"><h2>Chaptalization Sugar</h2></div>
         <div class="card-body">
            <p class="card-text">
               &#42; Chaptalization is the process of adding sugar to Must in order to increase the alcohol content after fermentation.
            </p>

            <form id="frmChaptalization">
               <div class="row">
                  <div class="col-sm-2 text-right"></div>
                  <div class="col-sm-8 text-right">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optUomSugar" value="brix">Brix
                        </label>
                     </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optUomSugar" checked value="sg">Specific Gravity
                        </label>
                     </div>
                  </div>
                  <div class="col-sm-2 text-left"></div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right"></div>
                  <div class="col-sm-8 text-right">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optUomVolume" value="metric">kg per liter
                        </label>
                     </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optUomVolume" checked value="imperial">lbs per gal
                        </label>
                     </div>
                  </div>
                  <div class="col-sm-2 text-left"></div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="ChaptalizationCalculator.Volume"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="ChaptalizationCalculator.Volume" required maxlength="10" />
                     <span asp-validation-for="ChaptalizationCalculator.Volume" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label name="lblUomVolume">Gallons</label>
                  </div>
               </div>


               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="ChaptalizationCalculator.CurrentReading"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="ChaptalizationCalculator.CurrentReading" required maxlength="10" />
                     <span asp-validation-for="ChaptalizationCalculator.CurrentReading" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label name="lblUomSugar">SG</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="ChaptalizationCalculator.Goal"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="ChaptalizationCalculator.Goal" required maxlength="10" />
                     <span asp-validation-for="ChaptalizationCalculator.Goal" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label name="lblUomSugar">SG</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="ChaptalizationCalculator.Sugar"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="ChaptalizationCalculator.Sugar" readonly />
                  </div>
                  <div class="col-sm-2 text-left">
                     <label name="lblUomWeight">Pounds</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right"></div>
                  <div class="col-sm-8">
                     <button id="btnCalcSugar" class="btn btn-primary btn-block" type="button">Calculate</button>
                  </div>
                  <div class="col-sm-2 text-left"></div>
               </div>

            </form>

         </div>
      </div>

      <div name="calcSugar" class="card">
         <div class="card-header bg-dark text-light"><h2>Calculate Alcohol (ABV)</h2></div>
         <div class="card-body">
            <p class="card-text">
               &#42; Beginning Sugar is Specific Gravity before the Yeast was pitched. <br />
               &#42;&#42; Ending Sugar is Specific Gravity at Stabilization (End of Fermentation before back sweetening).
            </p>

            <form id="frmAlcoholABV">

               <div class="row">
                  <div class="col-sm-2 text-right"></div>
                  <div class="col-sm-8 text-right">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optUomAlcohol" value="brix">Brix
                        </label>
                     </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optUomAlcohol" checked value="sg">Specific Gravity
                        </label>
                     </div>
                  </div>
                  <div class="col-sm-2 text-left"></div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="AlcoholCalculator.SugarStart"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="AlcoholCalculator.SugarStart" required maxlength="10" />
                     <span asp-validation-for="AlcoholCalculator.SugarStart" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label name="lblUomABV">SG</label>
                  </div>
               </div>


               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="AlcoholCalculator.SugarEnd"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="AlcoholCalculator.SugarEnd" required maxlength="10" />
                     <span asp-validation-for="AlcoholCalculator.SugarEnd" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label name="lblUomABV">SG</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="AlcoholCalculator.Abv"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="AlcoholCalculator.Abv" readonly />
                  </div>
                  <div class="col-sm-2 text-left">
                     <label name="lblUomWeight">&#37;</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right"></div>
                  <div class="col-sm-8">
                     <button id="btnCalcAlcohol" class="btn btn-primary btn-block" type="button">Calculate</button>
                  </div>
                  <div class="col-sm-2 text-left"></div>
               </div>

            </form>

         </div>
      </div>

      <div name="calcSugar" class="card">
         <div class="card-header bg-dark text-light"><h2>Calculate Volumes to Fortify</h2></div>
         <div class="card-body">
            <p class="card-text">
               &#42; Knowing how much spirits to add to make a fortified wine.<br />
            </p>

            <form id="frmFortify">
               <div class="row">
                  <div class="col-sm-2 text-right"></div>
                  <div class="col-sm-8 text-right">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optUomFortify" value="metric">Liters
                        </label>
                     </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optUomFortify" checked value="imperial">Gallons
                        </label>
                     </div>
                  </div>
                  <div class="col-sm-2 text-left"></div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="FortifyCalculator.Volume"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="FortifyCalculator.Volume" required maxlength="10" />
                     <span asp-validation-for="FortifyCalculator.Volume" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label name="lblUomFortify">Gallons</label>
                  </div>
               </div>


               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="FortifyCalculator.SpiritReading"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="FortifyCalculator.SpiritReading" required maxlength="10" />
                     <span asp-validation-for="FortifyCalculator.SpiritReading" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label>&#37;</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="FortifyCalculator.CurrentReading"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="FortifyCalculator.CurrentReading" required maxlength="10" />
                     <span asp-validation-for="FortifyCalculator.CurrentReading" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label>&#37;</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="FortifyCalculator.Goal"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="FortifyCalculator.Goal" required maxlength="10" />
                     <span asp-validation-for="FortifyCalculator.Goal" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label>&#37;</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="FortifyCalculator.Spirit"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="FortifyCalculator.Spirit" readonly />
                  </div>
                  <div class="col-sm-2 text-left">
                     <label name="lblUomFortify">Gallons</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right"></div>
                  <div class="col-sm-8">
                     <button id="btnCalcFortify" class="btn btn-primary btn-block" type="button">Calculate</button>
                  </div>
                  <div class="col-sm-2 text-left"></div>
               </div>

            </form>

         </div>
      </div>

      <div name="calcSugar" class="card">
         <div class="card-header bg-dark text-light"><h2>Adjust Gravity for Temperature</h2></div>
         <div class="card-body">
            <p class="card-text">
               &#42; An accurate reading takes temperature into consideration.<br />
               &#42;&#42; Each hydrometer is marked with a temperature for which it is calibrated.
            </p>

            <form id="frmGravityTemp">
               <div class="row">
                  <div class="col-sm-2 text-right"></div>
                  <div class="col-sm-8 text-right">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optUomGravityTemp" value="brix">Brix
                        </label>
                     </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optUomGravityTemp" checked value="sg">Specific Gravity
                        </label>
                     </div>
                  </div>
                  <div class="col-sm-2 text-left"></div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right"></div>
                  <div class="col-sm-8 text-right">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optGravityMetric" value="metric">Celsius
                        </label>
                     </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optGravityMetric" checked value="imperial">Fahrenheit
                        </label>
                     </div>
                  </div>
                  <div class="col-sm-2 text-left"></div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="GravityTempCalculator.MeasuredGravity"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="GravityTempCalculator.MeasuredGravity" required maxlength="10" />
                     <span asp-validation-for="GravityTempCalculator.MeasuredGravity" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label name="lblUomGravitySugar">SG</label>
                  </div>
               </div>


               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="GravityTempCalculator.TempReading"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="GravityTempCalculator.TempReading" required maxlength="10" />
                     <span asp-validation-for="GravityTempCalculator.TempReading" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label name="lblUomGravityTemp">&#8457;</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="GravityTempCalculator.TempCalibrate"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="GravityTempCalculator.TempCalibrate" required maxlength="10" />
                     <span asp-validation-for="GravityTempCalculator.TempCalibrate" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label name="lblUomGravityTemp">&#8457;</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="GravityTempCalculator.CorrectedValue"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="GravityTempCalculator.CorrectedValue" readonly />
                  </div>
                  <div class="col-sm-2 text-left">
                     <label name="lblUomGravitySugar">SG</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right"></div>
                  <div class="col-sm-8">
                     <button id="btnCalcGravityTemp" class="btn btn-primary btn-block" type="button">Calculate</button>
                  </div>
                  <div class="col-sm-2 text-left"></div>
               </div>

            </form>

         </div>
      </div>

      <div name="calcSO2" class="card">
         <div class="card-header bg-dark text-light"><h2>Titrate Free Sulfite</h2></div>
         <div class="card-body">
            <p class="card-text">
               &#42; Calculate Free SO2 from Aeration Oxidation Test Measurements<br />
            </p>

            <form id="frmSO2Titrate">
               <div class="row">
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="TitrateSO2.TestSize" required maxlength="10" />
                     <span asp-validation-for="TitrateSO2.TestSize" class="text-danger"></span>
                  </div>
                  <div class="col-sm-4 text-left">
                     <label asp-for="TitrateSO2.TestSize"></label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="TitrateSO2.VolumeNaOH" required maxlength="10" />
                     <span asp-validation-for="TitrateSO2.VolumeNaOH" class="text-danger"></span>
                  </div>
                  <div class="col-sm-4 text-left">
                     <label asp-for="TitrateSO2.VolumeNaOH"></label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="TitrateSO2.Normal" required maxlength="10" />
                     <span asp-validation-for="TitrateSO2.Normal" class="text-danger"></span>
                  </div>
                  <div class="col-sm-4 text-left">
                     <label asp-for="TitrateSO2.Normal"></label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="TitrateSO2.FreeSO2" readonly />
                     <span asp-validation-for="TitrateSO2.FreeSO2" class="text-danger"></span>
                  </div>
                  <div class="col-sm-4 text-left">
                     <label asp-for="TitrateSO2.FreeSO2"></label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-8">
                     <button id="btnTitrateSO2" class="btn btn-primary btn-block" type="button">Calculate</button>
                  </div>
                  <div class="col-sm-4 text-left"></div>
               </div>

            </form>

         </div>
      </div>

      <div name="calcSO2" class="card">
         <div class="card-header bg-dark text-light"><h2>Raise SO2 Level</h2></div>
         <div class="card-body">
            <p class="card-text">
               &#42; To make a 10% sulfite solution, begin with 10g of sulfite in 50 mL of warm water. Then bring to 100 mL with cool water and stir vigorously.
            </p>

            <form id="frmSO2Dose">
               <div class="row">
                  <div class="col-sm-2 text-right">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optSO2DoseVariety" checked value="red">Red
                        </label>
                     </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optSO2DoseVariety" value="white">White
                        </label>
                     </div>
                  </div>
                  <div class="col-sm-8 text-right">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optUomSO2DoseVolume" value="metric">Liters
                        </label>
                     </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optUomSO2DoseVolume" checked value="imperial">Gallons
                        </label>
                     </div>
                  </div>
                  <div class="col-sm-2 text-left"></div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label>
                        <input class="form-control" type="text" asp-for="DoseSO2Calculator.pH" maxlength="10" /> pH
                     </label>
                     <span asp-validation-for="DoseSO2Calculator.pH" class="text-danger"></span>
                  </div>
                  <div class="col-sm-8 text-right">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optUomSO2DoseSolution" value="powder">Powder
                        </label>
                     </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optUomSO2DoseSolution" checked value="solution">10&#37; Solution
                        </label>
                     </div>
                  </div>
                  <div class="col-sm-2 text-left"></div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="DoseSO2Calculator.Volume"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="DoseSO2Calculator.Volume" required maxlength="10" />
                     <span asp-validation-for="DoseSO2Calculator.Volume" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label name="lblUomSO2DoseVolume">Gallons</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="DoseSO2Calculator.CurrentReading"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="DoseSO2Calculator.CurrentReading" required maxlength="10" />
                     <span asp-validation-for="DoseSO2Calculator.CurrentReading" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label>PPM</label>
                  </div>
               </div>


               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="DoseSO2Calculator.Goal"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="DoseSO2Calculator.Goal" required maxlength="10" />
                     <span asp-validation-for="DoseSO2Calculator.Goal" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label>PPM</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="DoseSO2Calculator.DoseRate"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="DoseSO2Calculator.DoseRate" readonly />
                     <span asp-validation-for="DoseSO2Calculator.DoseRate" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label name="lblUomSO2DoseRate">ML/Gallon</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="DoseSO2Calculator.DoseAmount"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="DoseSO2Calculator.DoseAmount" readonly />
                  </div>
                  <div class="col-sm-2 text-left">
                     <label name="lblUomSO2DoseAmount">ML</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right"></div>
                  <div class="col-sm-8">
                     <button id="btnCalcSO2Dose" class="btn btn-primary btn-block" type="button">Calculate</button>
                  </div>
                  <div class="col-sm-2 text-left"></div>
               </div>

            </form>

         </div>
      </div>


      <div name="calcAcid" class="card">
         <div class="card-header bg-dark text-light"><h2>Adjust Acid</h2></div>
         <div class="card-body">
            <p class="card-text">
               &#42; Raise or Lower Acidity.<br />
            </p>

            <form id="frmAdjustAcid">
               <div class="row">
                  <div class="col-sm-2 text-right"></div>
                  <div class="col-sm-8 text-right">
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optUomAdjustAcid" checked value="metric">Liters
                        </label>
                     </div>
                     <div class="form-check-inline">
                        <label class="form-check-label">
                           <input type="radio" class="form-check-input" name="optUomAdjustAcid" value="imperial">Gallons
                        </label>
                     </div>
                  </div>
                  <div class="col-sm-2 text-left"></div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="AdjustAcid.CurrentTa"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="AdjustAcid.CurrentTa" required maxlength="10" />
                     <span asp-validation-for="AdjustAcid.CurrentTa" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label>g/L</label>
                  </div>
               </div>


               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="AdjustAcid.GoalTa"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="AdjustAcid.GoalTa" required maxlength="10" />
                     <span asp-validation-for="AdjustAcid.GoalTa" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label>g/L</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="AdjustAcid.Additive"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="AdjustAcid.Additive" readonly />
                     <span asp-validation-for="AdjustAcid.Additive" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label>B4 text input</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="AdjustAcid.DoseRate"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="AdjustAcid.DoseRate" readonly />
                     <span asp-validation-for="AdjustAcid.DoseRate" class="text-danger"></span>
                  </div>
                  <div class="col-sm-2 text-left">
                     <label id="lblUomAdjustAcidRate">Grams/Liter</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="AdjustAcid.Volume"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="AdjustAcid.Volume" required maxlength="10" />
                  </div>
                  <div class="col-sm-2 text-left">
                     <label id="lblUomAdjustAcid">Liters</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right">
                     <label asp-for="AdjustAcid.TotalAdditive"></label>
                  </div>
                  <div class="col-sm-8">
                     <input class="form-control text-right" type="text" asp-for="AdjustAcid.TotalAdditive" readonly />
                  </div>
                  <div class="col-sm-2 text-left">
                     <label name="lblUomFortify">Grams</label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 text-right"></div>
                  <div class="col-sm-8">
                     <button id="btnAdjustAcid" class="btn btn-primary btn-block" type="button">Calculate</button>
                  </div>
                  <div class="col-sm-2 text-left"></div>
               </div>

            </form>

         </div>
      </div>

      <div name="calcAcid" class="card">
         <div class="card-header bg-dark text-light"><h2>Titrate for Total Acid</h2></div>
         <div class="card-body">
            <p class="card-text">
               &#42; Determine Acid Level by Titration.<br />
            </p>

            <form id="frmTitrateAcid">
               <div class="row">
                  <div class="col-sm-6">
                     <input class="form-control text-right" type="text" asp-for="TitrateAcid.MustVolume" required maxlength="10" />
                     <span asp-validation-for="TitrateAcid.MustVolume" class="text-danger"></span>
                  </div>
                  <div class="col-sm-6 text-left">
                     <label asp-for="TitrateAcid.MustVolume"></label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-6">
                     <input class="form-control text-right" type="text" asp-for="TitrateAcid.NaOHVolume" required maxlength="10" />
                     <span asp-validation-for="TitrateAcid.NaOHVolume" class="text-danger"></span>
                  </div>
                  <div class="col-sm-6 text-left">
                     <label asp-for="TitrateAcid.NaOHVolume"></label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-6">
                     <input class="form-control text-right" type="text" asp-for="TitrateAcid.NaOHNormal" required maxlength="10" />
                     <span asp-validation-for="TitrateAcid.NaOHNormal" class="text-danger"></span>
                  </div>
                  <div class="col-sm-6 text-left">
                     <label asp-for="TitrateAcid.NaOHNormal"></label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-6">
                     <input class="form-control text-right" type="text" asp-for="TitrateAcid.TotalAcid" readonly />
                     <span asp-validation-for="TitrateAcid.TotalAcid" class="text-danger"></span>
                  </div>
                  <div class="col-sm-6 text-left">
                     <label asp-for="TitrateAcid.TotalAcid"></label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-6">
                     <button id="btnTitrateAcid" class="btn btn-primary btn-block" type="button">Calculate</button>
                  </div>
                  <div class="col-sm-6 text-left"></div>
               </div>

            </form>

         </div>
      </div>

      <div name="calcUtility" class="card">
         <div class="card-header bg-dark text-light"><h2>Titrate NaOH for Normality</h2></div>
         <div class="card-body">
            <p class="card-text">
               &#42; Determine the concentration of your titrate for accurate calculations.<br />
            </p>

            <form id="frmTitrateNaOH">
               <div class="row">
                  <div class="col-sm-6">
                     <input class="form-control text-right" type="text" asp-for="TitrateNaOH.KaPhVolume" required maxlength="10" />
                     <span asp-validation-for="TitrateNaOH.KaPhVolume" class="text-danger"></span>
                  </div>
                  <div class="col-sm-6 text-left">
                     <label asp-for="TitrateNaOH.KaPhVolume"></label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-6">
                     <input class="form-control text-right" type="text" asp-for="TitrateNaOH.KaPhNormal" required maxlength="10" />
                     <span asp-validation-for="TitrateNaOH.KaPhNormal" class="text-danger"></span>
                  </div>
                  <div class="col-sm-6 text-left">
                     <label asp-for="TitrateNaOH.KaPhNormal"></label>
                  </div>
               </div>


               <div class="row">
                  <div class="col-sm-6">
                     <input class="form-control text-right" type="text" asp-for="TitrateNaOH.NaOHVolume" required maxlength="10" />
                     <span asp-validation-for="TitrateNaOH.NaOHVolume" class="text-danger"></span>
                  </div>
                  <div class="col-sm-6 text-left">
                     <label asp-for="TitrateNaOH.NaOHVolume"></label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-6">
                     <input class="form-control text-right" type="text" asp-for="TitrateNaOH.NaOHNormal" readonly />
                     <span asp-validation-for="TitrateNaOH.NaOHNormal" class="text-danger"></span>
                  </div>
                  <div class="col-sm-6 text-left">
                     <label asp-for="TitrateNaOH.NaOHNormal"></label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-6">
                     <button id="btnTitrateNaOH" class="btn btn-primary btn-block" type="button">Calculate</button>
                  </div>
                  <div class="col-sm-6 text-left"></div>
               </div>

            </form>

         </div>
      </div>

      <div name="calcUtility" class="card">
         <div class="card-header bg-dark text-light"><h2>Dilute a Solution</h2></div>
         <div class="card-body">
            <p class="card-text">
               &#42; Dilute a solutions to a specific volume from a known concentrate.<br />
               &#42;&#42; Supplied Volume can be any unit of measure.<br />
               &#42;&#42; Calculated volume will be in same unit of measure.
            </p>

            <form id="frmDilute">
               <div class="row">
                  <div class="col-sm-6">
                     <input class="form-control text-right" type="text" asp-for="DiluteSolution.StrengthOfConcentrate" required maxlength="10" />
                     <span asp-validation-for="DiluteSolution.StrengthOfConcentrate" class="text-danger"></span>
                  </div>
                  <div class="col-sm-6 text-left">
                     <label asp-for="DiluteSolution.StrengthOfConcentrate"></label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-6">
                     <input class="form-control text-right" type="text" asp-for="DiluteSolution.FinalSolutionStrength" required maxlength="10" />
                     <span asp-validation-for="DiluteSolution.FinalSolutionStrength" class="text-danger"></span>
                  </div>
                  <div class="col-sm-6 text-left">
                     <label asp-for="DiluteSolution.FinalSolutionStrength"></label>
                  </div>
               </div>


               <div class="row">
                  <div class="col-sm-6">
                     <input class="form-control text-right" type="text" asp-for="DiluteSolution.FinalSolutionVolume" required maxlength="10" />
                     <span asp-validation-for="DiluteSolution.FinalSolutionVolume" class="text-danger"></span>
                  </div>
                  <div class="col-sm-6 text-left">
                     <label asp-for="DiluteSolution.FinalSolutionVolume"></label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-6">
                     <input class="form-control text-right" type="text" asp-for="DiluteSolution.VolumeOfConcentrateNeeded" readonly />
                     <span asp-validation-for="DiluteSolution.VolumeOfConcentrateNeeded" class="text-danger"></span>
                  </div>
                  <div class="col-sm-6 text-left">
                     <label asp-for="DiluteSolution.VolumeOfConcentrateNeeded"></label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-6">
                     <button id="btnCalcDilute" class="btn btn-primary btn-block" type="button">Calculate</button>
                  </div>
                  <div class="col-sm-6 text-left"></div>
               </div>

            </form>

         </div>
      </div>

      @*</div>*@

   </div>
   <div class="card-footer bg-secondary text-light"></div>

</div>

@section Scripts{
   <script src="~/js/calculations.js" asp-append-version="true" type="text/javascript"></script>
   <script src="~/js/calcFunctions.js" asp-append-version="true" type="text/javascript"></script>
   <script src="~/js/convertFunctions.js" asp-append-version="true" type="text/javascript"></script>
}



