
@model WMS.Ui.Models.Calculations.CalculationsViewModel

<div class="card">
    <div class="card-header bg-secondary text-light">
        <h1>Calculations</h1>
    </div>
    <div class="card-body">
        sw add to cache <br />

        check with lighthous <br />

        check with wave <br />
    </div>
    <div class="card-footer bg-secondary text-light"></div>
</div>



