@model WMS.Ui.Models.Journal.JournalViewModel
<div class="card">
   <div class="card-header bg-secondary text-light">
      <h1>@ViewData["Title"]</h1>
   </div>
   <div class="card-body">

      Show Screens Shots if not logged in <br /><br />
      must look good mobile <br /><br />



      <div>
         <label class="d-none d-md-block">
            <input class="form-control" inputmode="search" type="search" placeholder="Search for ..." id="batchSearch" />

         </label>
      </div>

      <br /><br />

      sort and/or filter for active

      <br /><br />

      <a href="/journal/add" class="btn btn-outline-secondary btn-block" title="Add a New Batch">
         Add New Batch (on create link to Recipe)
      </a>


      <br /><br />

      <div class="card-columns">
         @foreach (var batch in Model.Batches)
         {
            <partial name="_BatchListItem" model="batch" />            
         }
      </div>

   </div>
</div>


@section Scripts{
   @*<environment include="Development">
         <script src="~/js/yeast.js" asp-append-version="true" type="text/javascript"></script>
      </environment>
      <environment exclude="Development">
         <script src="~/js/yeast.min.js" asp-append-version="true" type="text/javascript"></script>
      </environment>*@
}