@model WMS.Ui.Mvc6.Models.Recipes.RecipesViewModel

<div class="card">
   <div class="card-header bg-secondary text-light">
      <h1>@ViewData["Title"]</h1>
   </div>
   <div class="card-body">
      <div>
         <div>
            <label class="d-none d-md-block">
               <input class="form-control" inputmode="search" type="search" placeholder="Search for ..." id="recipeSearch" />
               Search for a Category, Variety, Name or Keyword:
            </label>
         </div>
         <ul class="list-group-flush" id="ulRecipes">

            <li class="list-group-item">
               <a href="/recipes/add" class="btn btn-outline-secondary btn-block" title="Submit a New Recipe to be Added">
                  Submit New Recipe
               </a>
            </li>

            @foreach (var recipe in Model.Recipes)
            {
               <li class="list-group-item">
                  <partial name="_RecipeListItem" model="recipe" />
               </li>
            }

         </ul>

      </div>

   </div>
   <div class="card-footer bg-secondary text-light"></div>
</div>


@section Scripts{
   <environment include="Development">
      <script src="~/js/recipe.js" asp-append-version="true" type="text/javascript"></script>
   </environment>
   <environment exclude="Development">
      <script src="~/js/recipe.min.js" asp-append-version="true" type="text/javascript"></script>
   </environment>
}