<div class="card" id="classification">
    <div class="card-header bg-secondary text-light">
        <h1>Password Reset Requested</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <h2>You have successfully requested a password reset.</h2><br />
            <h3>Now, please check your email for instructions to set your new password.</h3>
        </div>
    </div>
    <div class="card-footer"></div>
</div>

