@model WMS.Ui.Mvc.Models.Yeasts.YeastsViewModel
<div class="card">
   <div class="card-header bg-secondary text-light">
      <h1>@ViewData["Title"]</h1>
   </div>
   <div class="card-body">

      <div class="card">
         <div class="card-header bg-dark text-light"><h2>Filter by:</h2></div>
         <div class="card-body card-text text-left">
            <fieldset>
               <legend class="card-title h3">Brand</legend>
               @foreach (var yeastGroup in Model.YeastsGroups)
               {
                  <div class="form-check-inline">
                     <label class="form-check-label">
                        <input name="chkYeastBand" type="checkbox" class="form-check-input" checked value="@yeastGroup.BrandId">@yeastGroup.GroupName
                     </label>
                  </div>
               }
            </fieldset>
            <br />

            <h3 class="card-title">Specific Use</h3>
            <select id="varietySelector" class="custom-select" aria-label="Select a Variety" asp-items="Model.YeastPairs"></select>

         </div>
      </div>

      <br />

      <div class="card-columns">
         @foreach (var yeastGroup in Model.YeastsGroups)
         {
            <div id="groupId-@yeastGroup.BrandId" class="card">
               <partial name="_YeastGroupListItem" model="yeastGroup" />
            </div>
         }
      </div>

   </div>
</div>


@section Scripts{
   <environment include="Development">
      <script src="~/js/yeast.js" asp-append-version="true" type="text/javascript"></script>
   </environment>
   <environment exclude="Development">
      <script src="~/js/yeast.min.js" asp-append-version="true" type="text/javascript"></script>
   </environment>
}