@model WMS.Ui.Mvc.Models.Journal.JournalViewModel

<label class="d-none"><input hidden asp-for="BatchJwt" />Hidden Label</label>
<div class="card">
   <div class="card-header bg-secondary text-light">
      <h1>@ViewData["Title"]</h1>
   </div>
   <div class="card-body">   
      <div>
         <div class="d-none d-md-block">
            <input class="form-control" inputmode="search" type="search" aria-label="Search" placeholder="Search for ..." id="batchSearch" />
         </div>
      </div>
      <div>
         <a href="/journal/add" class="btn btn-outline-secondary btn-block" title="Add a New Batch">Add New Batch</a>
      </div>
      <div class="form-check m-2">
         <label class="form-check-label">
            <input id="ShowComplete" type="checkbox" class="form-check-input" value="">Show Completed Batches
         </label>
      </div>
      <div id="batchesContainer" class="card-columns">
         @foreach (var batch in Model.Batches)
         {
            <partial name="_BatchListItem" model="batch" />
         }
      </div>
   </div>
</div>

<form id="frmEditBatch" asp-controller="Journal" asp-action="EditBatch" method="POST" enctype="multipart/form-data">
   <label class="d-none"><input hidden name="Id" id="editBatchId" />Hidden Label</label>
</form>


@section Scripts{
   <environment include="Development">
      <script src="~/js/journal.js" asp-append-version="true" type="text/javascript"></script>
   </environment>
   <environment exclude="Development">
      <script src="~/js/journal.min.js" asp-append-version="true" type="text/javascript"></script>
   </environment>
}