<div class="card" id="classification">
    <div class="card-header bg-secondary text-light">
        <h1>Thank You for Registering</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <h2>You have successfully submitted a registration.</h2><br />
            <h3>Now, please check your email for instructions on verifying your account.</h3>
        </div>
    </div>
    <div class="card-footer"></div>
</div>

