
@model WMS.Ui.Mvc.Models.Admin.UsersViewModel;

<br />
<div>
    <input class="form-control" inputmode="search" type="search" aria-label="Search for a Email or UserName" placeholder="Search for a Email or UserName ..." id="userSearch" />
</div>

<br />

<ul class="list-group-flush" id="ulUsers">
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-3"><strong>UserName</strong></div>
            <div class="col-sm-3"><strong>Email</strong></div>
            <div class="col-sm-3"><strong>Lock Out</strong></div>
            <div class="col-sm-3 text-right"></div>
        </div>
    </li>

    @foreach (var user in Model.Users)
    {
        <li class="list-group-item">
            <partial name="_UserListItem" model="user" />
        </li>
    }

</ul>

<form id="frmEditUser" asp-controller="Admin" asp-action="EditUser" method="POST" enctype="multipart/form-data">
    <label class="d-none"><input hidden name="UserName" id="editUserName" />Hidden Label</label>
</form>

<form id="frmDeleteUser" asp-controller="Admin" asp-action="DeleteUser" method="POST" enctype="multipart/form-data">
    <label class="d-none"><input hidden name="UserName" id="deleteUserName" />Hidden Label</label>
</form>

<form id="frmLockUser" asp-controller="Admin" asp-action="LockUser" method="POST" enctype="multipart/form-data">
    <label class="d-none"><input hidden name="UserName" id="lockUserName" />Hidden Label</label>
</form>

<form id="frmUnlockUser" asp-controller="Admin" asp-action="UnlockUser" method="POST" enctype="multipart/form-data">
    <label class="d-none"><input hidden name="UserName" id="unlockUserName" />Hidden Label</label>
</form>
