
@model WMS.Ui.Models.Admin.MaloCultureViewModel

<div class="row">
   <div class="col-sm-2">@Model.Brand.Literal</div>
   <div class="col-sm-2">@Model.Trademark</div>
   <div class="col-sm-4 text-right">
      <button class="btn btn-primary" name="editMaloButton" data-id="@Model.Id">Edit</button>
   </div>
   <div class="col-sm-4 text-right">
      <button class="btn btn-primary" name="deleteMaloButton" data-id="@Model.Id">DELETE</button>
   </div>
</div>
