@model WMS.Ui.Models.Admin.MaloCultureViewModel

<div class="card">
   <div class="card-header bg-secondary text-light">
      <h1>@ViewData["Title"]</h1>
   </div>
   <div class="card-body">
      <form asp-controller="Admin" asp-action="UpdateMalolacticCulture" method="POST" enctype="multipart/form-data">
         <div asp-validation-summary="ModelOnly"></div>
         <div class="row">
            <div class="col-sm-11"></div>
            <div class="col-sm-1">
               <a asp-area="" asp-controller="Admin" asp-route-id="malo" asp-action="Index">Back</a>
            </div>
         </div>
         <label class="d-none"><input hidden asp-for="Id" />Hidden Label</label>

         <div class="row">
            <div class="col-sm-4">
               <label class="col-form-label" asp-for="Style.Id"><strong>Style:</strong></label>
               <select class="custom-select" asp-for="Style.Id" asp-items="Model.Styles"></select>
               <span asp-validation-for="Style.Id" class="text-danger"></span>
            </div>

            <div class="col-sm-4">
               <label class="col-form-label" asp-for="Brand.Id"><strong>Brand:</strong></label>
               <select class="custom-select" asp-for="Brand.Id" asp-items="Model.Brands"></select>
               <span asp-validation-for="Brand.Id" class="text-danger"></span>
            </div>

            <div class="col-sm-4">
               <label class="col-form-label" asp-for="Trademark"><strong>Trademark (Name):</strong></label>
               <input class="form-control" type="text" placeholder="Trademark (Name)" maxlength="200" required asp-for="Trademark" />
               <span asp-validation-for="Trademark" class="text-danger"></span>
            </div>
         </div>

         <div class="row">
            <div class="col-sm-4">
               <label class="col-form-label" asp-for="TempMin"><strong>Minimum Temperature:</strong></label>
               <input class="form-control" inputmode="decimal" pattern="[0-9]*" type="number" maxlength="5" min="5" max="25" placeholder="Minimum Temp C" data-toggle="tooltip" title="Temperature is in Celsius !" asp-for="TempMin" />
               <span asp-validation-for="TempMin" class="text-danger"></span>
            </div>

            <div class="col-sm-4">
               <label class="col-form-label" asp-for="TempMax"><strong>Maximum Temperature:</strong></label>
               <input class="form-control" inputmode="decimal" pattern="[0-9]*" type="number" maxlength="5" min="10" max="45" placeholder="Maximum Temp C" data-toggle="tooltip" title="Temperature is in Celsius" asp-for="TempMax" />
               <span asp-validation-for="TempMax" class="text-danger"></span>
            </div>

            <div class="col-sm-4">
               <label class="col-form-label" asp-for="Alcohol"><strong>Alcohol Tolerance:</strong></label>
               <input class="form-control" inputmode="decimal" pattern="[0-9]*" type="number" maxlength="5" min=".01" max=".25" placeholder="Alcohol Tolerance" data-toggle="tooltip" title="Alcohol is percent as decimal" asp-for="Alcohol" />
               <span asp-validation-for="Alcohol" class="text-danger"></span>
            </div>
         </div>       
         <div class="row">
            <div class="col-sm-4">
               <label class="col-form-label" asp-for="SO2"><strong>Max SO2 Level:</strong></label>
               <input class="form-control" inputmode="decimal" pattern="[0-9]*" type="number" maxlength="5" min="5" max="100" placeholder="Max SO2" data-toggle="tooltip" title="Maximum SO2 Tolerated" asp-for="SO2" />
               <span asp-validation-for="SO2" class="text-danger"></span>
            </div>
            <div class="col-sm-4">
               <label class="col-form-label" asp-for="pH"><strong>Max pH Level:</strong></label>
               <input class="form-control" inputmode="decimal" pattern="[0-9]*" type="number" maxlength="5" min="1" max="10" placeholder="Maximum pH" data-toggle="tooltip" title="Maximum pH Tolerated" asp-for="pH" />
               <span asp-validation-for="pH" class="text-danger"></span>
            </div>           
         </div>

         <div class="row">
            <div class="col-sm-12">
               <label class="col-form-label" asp-for="Note"><strong>Notes:</strong></label>
               <textarea class="form-control" type="text" rows="5" maxlength="500" placeholder="Notes" asp-for="Note"></textarea>
               <span asp-validation-for="Note" class="text-danger"></span>
            </div>
         </div>

         <br />

         <div class="row">
            <div class="col-sm-9"></div>
            <div class="col-sm-3">
               <button class="btn btn-primary" type="reset">Cancel</button>
               <button class="btn btn-primary" type="submit">Submit</button>
            </div>
         </div>

      </form>
        
   </div>
   <div class="card-footer"></div>

</div>


@section Scripts{   
   <environment include="Development">
      <script src="~/js/admin.js" asp-append-version="true" type="text/javascript"></script>
   </environment>
   <environment exclude="Development">
      <script src="~/js/admin.min.js" asp-append-version="true" type="text/javascript"></script>
   </environment>
}
